<div class="row">
  <div class="col s10 offset-s1">
    <div class="row center-align">
      <h4><%=@post.title.capitalize%></h4>
    </div>

    <div class="row post-buttons">
      <% if current_user == @post.user %>
        <%=link_to edit_post_path(@post), class:"btn right" do %>
          <i class="fa fa-edit"></i> Edit
        <% end %>
      <% else %>
        
        <%= hidden_field :post, :id, value: @post.id %>
        <% if @favorited.nil? %>
          <%= link_to favorites_path, remote:true, 'data-postId'=> @post.id, id: "create-favorite", class: "btn right" do %>
            <i class="fa fa-star-o"></i> Favorite
          <% end %>
        <% else @favorited.nil? %>
          <%= link_to favorite_path(@favorited), remote:true, id: "destroy-favorite", class: "btn right" do %>
            <i class="fa fa-star-half-empty"></i> Unfavorite
          <% end %>
        <% end %>

      <% end %>
    </div>

    <div class="row">
      <div class="col s8">
        <h5 class="text-highlight"><i class="fa fa-usd"></i> <%=@post.price%> - <%=@post.street_address%></h5>
        <div><i class="fa fa-map-pin"></i> <%= @post.full_street_address %></div>

        <div class="slider">
          <ul class="slides">
            <% if @post.photos.empty? %>
              <li>
                <%= image_tag 'no_picture.png'%>
              </li>
            <% else %>
              <% @post.photos.each do |photo| %>
                <li>
                  <%= image_tag photo.image.url(:medium)%>
                </li>
              <% end %>
            <% end %>
          </ul>
        </div>

        <div class="row">
          <h5 class="text-highlight">Description <i class="fa fa-info-circle"></i></h5>
          <div>
            <%= @post.description %>
          </div>
        </div>
      </div>

      <div class="col s4">
        <div class="row detail-box">
          <h5 class="text-highlight">Details</h5>
          <table>
            </thead>
            <tbody>
              <tr>
                <td><b>Home Type</b></td>
                <td><%=@post.home_type%></td>
              </tr>
              <tr>
                <td><b>Room Type</b></td>
                <td><%=@post.room_type%></td>
              </tr>
              <tr>
                <td><b>Price</b></td>
                <td>$<%=@post.price%></td>
              </tr>
              <tr>
                <td><b>Bedroom</b></td>
                <td><%=@post.bedroom%></td>
              </tr>
              <tr>
                <td><b>Bathroom</b></td>
                <td><%=@post.bathroom%></td>
              </tr>
              <tr>
                <td><b>Available</b></td>
                <td><%=@post.available_date%></td>
              </tr>
              <tr>
                <td><b>Address</b></td>
                <td><%=@post.full_street_address%></td>
              </tr>
            </tbody>
          </table>
        </div>
        
        <div class="row detail-box">
          <h5 class="text-highlight">Posted By</h5>
          <%=link_to user_path(@post.user) do %>
            <div class="avatar avatar-profile">
              <%= image_tag avatar_url(@post.user)%>
            </div>
          <% end %>
          <br/>
          <div class="info-box">
            <div><b>Email</b>: <%=@post.user.email%></div>
            <div><b>Name</b>: <%=@post.user.display_name%></div>
            <div><b>Phone</b>: <%=@post.user.phone%></div>
          </div>
        </div>
      </div>
    </div>

    <div class="row detail-box">
      <h5 class="text-highlight">Amenities</h5>
      <div class="col s2">
        Television:
        <%= cross_or_check? @post.has_tv %>
      </div>
      <div class="col s2">
        Kitchen:
        <%= cross_or_check? @post.has_kitchen %>
      </div>
      <div class="col s2">
        Air Conditioner:
        <%= cross_or_check? @post.has_air %>
      </div>
      <div class="col s2">
        Heat:
        <%= cross_or_check? @post.has_heating %>
      </div>
      <div class="col s2">
        Internet:
        <%= cross_or_check? @post.has_internet%>
      </div>

    </div>

		<div class="row">
      <h5 class="text-highlight">Map <i class="fa fa-map-o"></i></h5>
      <div id="map">
        
      </div>
		</div>

    <% unless @nearby.empty? %>
      <div class="row">
        <div class="col-md-12">
          <h5 class="text-highlight">Near By Listings <i class="fa fa-map-marker"></i></h5>
          <% @nearby.each do |near_by_post| %>
            <div class="col s12 m6 l3">
              <div class="panel-header">
                <%= image_tag post_thumb(near_by_post) %>  
              </div>
              <div class="panel-body">
                <%=link_to near_by_post.full_street_address, near_by_post%>
                (<%=near_by_post.distance.round(2)%>) miles away  
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>

  </div>
</div>


<script>
	function initMap() {
		var mapCanvas = document.getElementById('map');
		var mapOptions = {
			center: new google.maps.LatLng(<%= @post.latitude %>, <%= @post.longitude %>),
			zoom: 15,
  		scaleControl: false,
  		scrollwheel: false,
			mapTypeId: google.maps.MapTypeId.ROADMAP
		}
		var map = new google.maps.Map(mapCanvas, mapOptions);
		var marker = new google.maps.Marker({
			position: new google.maps.LatLng(<%= @post.latitude %>, <%= @post.longitude %>),
			title: "Roomit"
		});
		marker.setMap(map);
	}
  initMap();
</script>


